@charset "UTF-8";

body {min-width:980px; font-family: 'Roboto', sans-serif;}

/* header */

.headerBgWrap {
  height: 90px;
  background:url(../images/header_img.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.logoHeader { width: 980px; margin: 0 auto;}
.logoHeader .logo { float: left; }
.logoHeader .logo h1 {
  width: 146px; padding: 21px 0; margin-right: 130px;
  background:url(../images/logo.png) no-repeat center;
}
.logoHeader .logo h1 a {display: block; text-indent:-9999px;}

.logoHeader .search-form {float: left; width: 298px; }
.logoHeader .search-form form { padding: 30px 0;}
.logoHeader .search-form fieldset {
  background: #fff; border-radius: 15px;
  border: 0 none; height: 30px;
}
.logoHeader .search-form fieldset legend {
  position: absolute;
  left: 0; top: -9999px;
}
.logoHeader .search-form label {
  font-size: 0.875rem; font-weight: bold;
  padding-left: 17px;
}
.logoHeader .search-form input {
  font-size: 0.813rem; border: 0 none;
  text-indent:5px; height: 30px; outline:none;
}
.logoHeader .search { position: relative; }
.logoHeader .search-form .btn-search {
  position: absolute; top:7px; right: 15px;
  width: 16px; height: 16px;
  border: 0 none;
  background: #fff url(../images/search.png) no-repeat center;
  text-indent: -9999px; cursor:pointer;
}

.logoHeader .contact {float: right; }
.logoHeader .contact h2 {
  display: inline-block;
  color: #fff; font-size: 1.563rem;
  line-height: 90px; margin-right: 16px;
}
.logoHeader .contact h2 span {font-weight: normal;}
.logoHeader .contact ul {float: right;}
.logoHeader .contact ul li {float: left; padding-top: 32px;}
.logoHeader .contact ul li + li { margin-left: 6px;}
.logoHeader .contact li img { display: block; width: 25px; height: 25px; }

.headerGnbWrap { border-bottom: 5px solid #0E73A7;}
.headerGnbWrap ul {width: 980px; margin: 0 auto;}
.headerGnbWrap ul li {
  float: left; width:calc(980px / 6);
  border-right: 2px solid #eee;
}
.headerGnbWrap ul li:first-child { border-left: 2px solid #eee;}
.headerGnbWrap li a {
  display: block; font-size: 1.188rem;
  text-align: center; padding: 17px 0;
 }

/* main-content */

.container {
  height:1065px;
  background:url(../images/background.png) no-repeat center;
  background-size: cover;
}
.contentWrap {width: 980px; margin: 0 auto;}
.contentTopWrap {
  width: 483px; height: 607px;
  padding-top: 52px;
  position: relative;
  margin-bottom: 15px;
}
.sliderBox {
  width: 483px; height: 300px; position: relative;
  overflow: hidden; margin-bottom: 15px;
}
.sliderBox .formWrap {
  width: 351px; height: 300px;
  margin-left: auto;
  background: #fff;
  padding: 28px 38px 0;
}
.sliderBox fieldset { border: 0 none;}
.sliderBox legend { display: block; position: absolute; left:0; top:-9999px; }
.formWrap label { display: block; font-size: 14px; padding-bottom: 7px; }
.formWrap #golo {
  display: block; width: 275px; height: 30px;
  font-size: 13px; text-indent: 4px;
  border-radius: 3px; margin-bottom: 12px;
}
.formWrap .departureDate,
.formWrap .arrivalDate { float: left; width: 129px; }
.formWrap .departureDate input,
.formWrap .arrivalDate input{
  width: 100%; border-radius: 3px; border: 1px solid #aaa; height: 30px;
  text-indent: 4px; font-size: 13px; margin-bottom: 12px;
}
.formWrap .departureDate{ margin-right: 17px; }
.formWrap .seat, .formWrap .seat select { float: left; width: 116px; height: 30px;}
.formWrap .child, .formWrap .adult { float: left; width: 66px; }
.formWrap .child {margin-left: 20px;}
.formWrap .adult {margin-left: 7px;}
.formWrap .child input, .formWrap .adult input {
  width: 100%; height: 30px; text-indent: 4px;
}
.formWrap .btn-submit {
  display: block; font-size: 15px; text-indent: 10px;
  width: 275px; height: 38px; border:0 none;
  margin-top: 21px; margin-bottom: 21px;
  background: #D75021 url(../images/search01.png) no-repeat 35% 50%;
  color: #fff; cursor:pointer;
}
.formWrap .btn-search .btn-submit:focus {outline:none;}

.sliderTab {
    position: absolute;
    width: 132px;
    height:100%;
    background: #0099cb;
    left: 0; top: 0;
}
.sliderBox .sliderTab a {
    display: block;
    font-size: 15px;
    height: calc(100% / 4);
    padding-left: 20px;
    color: #fff;
    line-height:75px;
    box-shadow: 0 1px 2px #fff;
    transition: all 0.5s
}
.sliderBox .sliderTab a .fas {
  width: 25px; margin-right: 3px;
  font-size: 20px; transition:all 0.2s;
}
.sliderBox .sliderTab a:hover,
.sliderBox .sliderTab a.active { background: #fff; color:#000; }

.sliderBox .sliderTab a:hover .fas,
.sliderBox .sliderTab a.active .fas { color:#0099cb; }
.bx-wrapper {
  box-shadow:none;
  border:0 none;
}

.topContent { height: 240px; overflow: hidden;}
.topContent ul > li{ width: 234px; float: left; }
.topContent .content02Wrap {margin-left: 15px;}

.contentSlider {position: relative;}
.contSlider li img {transition:0.2s}
.contSlider li:nth-child(1):hover img {transform:scale(1.1);}
.contSlider li:nth-child(2):hover img {transform:scale(1.1);}
.contSlider li:nth-child(3):hover img {transform:scale(1.1);}
.contentSlider ul > li {width: 234px; height:240px; position: relative;}
.contentSlider ul > li > .imgTxt{
  position: absolute; bottom: 0;
  width: 100%; height: 50px;
  background: #152630;
}
.contentSlider .imgTxt a {
  display: block; color: #fff;
  font-size: 18px; text-align: center;
  line-height: 50px; word-spacing: 6px
}
.contentSlider .imgTxt a span {color: #6EC566;}

.contentSlider .nextBtn, .contentSlider .prevBtn {
  position: absolute; top: 50%;
  transform: translateY(-58px);
  cursor:pointer; opacity: 0.3;
  transition:0.2s
}
.contentSlider .nextBtn:hover, .contentSlider .prevBtn:hover {
  opacity:0.7;
}
.contentSlider .nextBtn { right: 0; }
.contentSlider .prevBtn { left: 0; }

.contentTopTxt {
  position: absolute; left: 517px; top: 70px;
  letter-spacing:-3px;
}
.contentTopTxt h1 {
  color: #152630; font-size: 70px;
  line-height: 70px; position: relative;
}
.contentTopTxt h1:after {
  content:""; display: block;
  width: 90px; height: 5px;
  background: #152630;
  position: absolute; left:250px; bottom: -10px;
}
.contentTopTxt p {
  padding-top: 20px;width: 350px;
  font-size: 30px; letter-spacing: -3px;
}

.section01Cont {margin-bottom: 15px;}
.section01Cont ul li {
  float: left; position: relative;
  width: 233.75px; height: 240px;
}
.section01Cont ul li + li {margin-left: 15px;}

.sectTxt {
  position: absolute; bottom: 0;
  height: 64px; width: 100%;
  padding-left: 16px; padding-top: 8px;
  font-size: 15px; color: #fff;
}
.sectTxt h3 {font-weight: normal;}
.sectTxt p {font-size: 13px; color: #fff; padding-top: 3px;}
.sectTxt span { color: #E5A100;}
.sectTxt.cont01 { background: #529251;}
.sectTxt.cont02 { background: #152630;}
.sectTxt.cont03 { background: rgba(0,0,0,0.7);}
.sectTxt.cont04 { background: #44619D;}

.weather {
  position: absolute; width: 100%; top: 15px;
  text-align: center; color: #fff;
}

.section02Cont {margin-bottom: 28px;}
.section02Cont ul li {
  float: left; position: relative;
  width: 233.75px; height: 240px;
}
.section02Cont ul li + li {margin-left: 15px;}
.section02Cont li .sectTxt1 {
  width: 100%; height: 100%;
  position: absolute; left: 0; bottom: 0;
  transition:.3s;
}
.section02Cont li:nth-child(1) .sectTxt1 {
  background:rgba(46, 190, 221, .5);}

.sectTxt1 h3 {
  font-size: 20px; text-align: center;
  color: #fff; padding-top: 20px;
  transition:.3s
}
.sectTxt1 p {font-size: 14px; padding: 5px 20px 0; color: #fff; transition:.3s}
.cwrap {
  width: 40px; height: 40px; _background: red;
  position: absolute; left:50%; top: 50%;
  transform:translate(-50%, -50%);
  border-radius: 25px; border: 3px solid #fff;
  display:flex;
  justify-content: center; align-items: center;
  transition:.3s
}
.cwrap div{
  width: 25px; height: 3px; background:#fff;
  position: absolute; border-radius: 3px;
}
.cwrap .bar2{
  transform:rotate(90deg);
}
.section02Cont li:nth-child(1):hover .sectTxt1 {
  background:rgba(46, 190, 221, .7);
}
.section02Cont li:hover .sectTxt1 h3,
.section02Cont li:hover .sectTxt1 p {
  transform:translateY(130px)
}
.section02Cont li:hover .cwrap {
  transform:translate(-50%, -50%) rotate(180deg);
}

.section02Cont li:nth-child(2) .sectTxt1 { background:rgba(46, 46, 48, .5);}
.section02Cont li:nth-child(2):hover .sectTxt1 {
  background:rgba(46, 46, 48, .7);
}
.section02Cont li:nth-child(3) .sectTxt1 { background:rgba(26, 29, 38, .5);}
.section02Cont li:nth-child(3):hover .sectTxt1 {
  background:rgba(26, 29, 38, .7);
}
.section02Cont li:nth-child(4) .sectTxt1 { background:rgba(73, 132, 72, .5);}
.section02Cont li:nth-child(4):hover .sectTxt1 {
  background:rgba(73, 132, 72, .7);
}
